body {
        color: white;
        background: #0a0909;
}

::selection {
	background: #b2b2a2;
}

.parent {
  text-align: center;
}

.parent > ul {
  display: inline-block;
}

a {
	color: #307cff;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

<img src="pix/home.png" alt="home">
