body {
        color: white;
        background: #0a0909;
}

::selection {
	background: #b2b2a2;
}

.parent {
  text-align: center;
}

.parent > ul {
  display: inline-block;
}

a {
	color: #307cff;
}

#content {
    position: relative;
}

#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}

<div id="content">
    <img src="pix/home.png" class="home"/>
    <div>home</div>
</div>
